version: '3.7'

services:
  web:
    image: {{ IMAGE }}
    container_name: web
    networks:
      - dg-ps-ng
    command: gunicorn Blog.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/app/web/staticfiles
    expose:
      - 8000
    env_file:
      - ./.env.dev
    depends_on:
      - db
  db:
    image: postgres:11
    container_name: db
    networks:
      - dg-ps-ng
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=postgres
  nginx:
    image: nginx:1.21-alpine
    networks:
      - dg-ps-ng
    ports:
      - {{ NPORT }}:{{ NPORT }}
    volumes:
      - ./nginx/django.conf:/etc/nginx/conf.d/django.conf
      - static_volume:/app/web/staticfiles
    depends_on:
      - web
volumes:
  postgres_data:
  static_volume:
networks:
  dg-ps-ng:
    name: django-network
